@{
    ViewBag.Title = "About Page";
    ViewBag.Message = "This is an ASP.NET Core MVC app";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<p>This is the About page for our first ASP.NET Core MVC app.</p>
